<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page!</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNum</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phNum}"></td>
            <td><a th:href="@{/update/{id}(id=${student.id})}">Update</a></td>
            <td><a th:href="@{/delete/{id}(id=${student.id})}">Delete</a></td>
<!--            <td>-->
<!--                <a class="btn btn-danger" th:href="@{/delete-concert/{id}(id=${concert.id})}">Delete</a>-->
<!--                <a class="btn btn-primary" th:href="@{/concerts/{id}/seats(id=${concert.id})}">Seat</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
</body>
</html>