<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<div class="container">
    <form th:action="@{/login}" th:object="${student}" method="post">
        <label for="email">Email : </label><br>
        <input type="email" id="email" class="form-control" th:field="*{email}" required/><br>
        <label for="password">Password : </label><br>
        <input type="password" id="password" class="form-control" th:field="*{password}" required/><br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/register}">Create Account!</a>
        <label th:if="!${loginError}">Your email and password are incorrect!</label>
    </form>
</div>
</body>
</html>